@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
}

#contenedor {
  background-image: url(../media/fondo.jpg);
  background-position: center;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1021px auto;
      grid-template-columns: auto 1021px auto;
  -ms-grid-rows: auto 699px auto;
      grid-template-rows: auto 699px auto;
      grid-template-areas: ". . ." ". pantalla ." ". . .";
}

#contenedor #pantalla {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pantalla;
  width: 1026px;
  height: 599px;
  -webkit-box-shadow: 0 0 10px 7px black;
          box-shadow: 0 0 10px 7px black;
}

#contenedor #pantalla.principal {
  background-color: #cacaca;
}

#contenedor #pantalla.principal #botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 250px;
  position: absolute;
  top: 300px;
  left: 150px;
}

#contenedor #pantalla.creacion {
  background-color: #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contenedor #pantalla.creacion a {
  position: absolute;
  left: 50px;
  bottom: 25px;
}

#contenedor #pantalla.creacion .glass-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 280px;
  height: 400px;
  margin: 30px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#contenedor #pantalla.creacion .glass-card .content {
  padding: 20px;
  text-align: center;
}

#contenedor #pantalla.creacion .intro {
  width: 650px;
  height: 200px;
}

#contenedor #pantalla.creacion #guerrero {
  background-image: url(../media/guerrero/espada.png);
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: 120%;
}

#contenedor #pantalla.creacion #guerrero .content {
  position: relative;
  -webkit-transform: translateY(165px);
          transform: translateY(165px);
  z-index: 1;
}

#contenedor #pantalla.creacion #guerrero .content h1 {
  font-weight: 300;
  color: transparent;
  -webkit-transition: 150ms color ease-out 350ms;
  transition: 150ms color ease-out 350ms;
}

#contenedor #pantalla.creacion #guerrero .content::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 40px;
  bottom: 23px;
  right: 0;
  z-index: -1;
  background: #9e1414;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 350ms -webkit-transform ease-in-out;
  transition: 350ms -webkit-transform ease-in-out;
  transition: 350ms transform ease-in-out;
  transition: 350ms transform ease-in-out, 350ms -webkit-transform ease-in-out;
}

#contenedor #pantalla.creacion #guerrero:hover .content::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#contenedor #pantalla.creacion #guerrero:hover .content h1 {
  color: #d4d4d4;
}

#contenedor #pantalla.creacion #arquero {
  background-image: url(../media/arquero/arco.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
}

#contenedor #pantalla.creacion #mago {
  background-image: url(../media/mago/baculo.png);
  background-position: 50% -70%;
  background-repeat: no-repeat;
  background-size: 130%;
}
/*# sourceMappingURL=estilos.css.map */