@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

#contenedor {
  background-image: url(../media/fondo.jpg);
  background-position: center;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1021px auto;
      grid-template-columns: auto 1021px auto;
  -ms-grid-rows: auto 699px auto;
      grid-template-rows: auto 699px auto;
      grid-template-areas: ". . ." ". pantalla ." ". . .";
}

#contenedor #pantalla {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pantalla;
  background-color: #cacaca;
  width: 1026px;
  height: 599px;
  -webkit-box-shadow: 0 0 10px 7px black;
          box-shadow: 0 0 10px 7px black;
}

#contenedor #pantalla .volver {
  position: absolute;
  left: 50px;
  bottom: 25px;
  z-index: 20;
}

#contenedor #pantalla.principal #botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 250px;
  position: absolute;
  top: 300px;
  left: 150px;
}

#contenedor #pantalla.creacion, #contenedor #pantalla.guardados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

#contenedor #pantalla.creacion .glass-card, #contenedor #pantalla.guardados .glass-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 280px;
  height: 400px;
  margin: 30px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#contenedor #pantalla.creacion .glass-card .content__clase, #contenedor #pantalla.guardados .glass-card .content__clase {
  position: relative;
  -webkit-transform: translateY(165px);
          transform: translateY(165px);
  z-index: 1;
  padding: 20px;
  text-align: center;
}

#contenedor #pantalla.creacion .glass-card .content__clase h1, #contenedor #pantalla.guardados .glass-card .content__clase h1 {
  font-weight: 300;
  color: transparent;
  -webkit-transition: 150ms color ease-out;
  transition: 150ms color ease-out;
}

#contenedor #pantalla.creacion .glass-card .content__clase::after, #contenedor #pantalla.guardados .glass-card .content__clase::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 40px;
  bottom: 23px;
  right: 0;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 350ms -webkit-transform ease-in-out;
  transition: 350ms -webkit-transform ease-in-out;
  transition: 350ms transform ease-in-out;
  transition: 350ms transform ease-in-out, 350ms -webkit-transform ease-in-out;
}

#contenedor #pantalla.creacion .glass-card:hover .content__clase::after, #contenedor #pantalla.guardados .glass-card:hover .content__clase::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#contenedor #pantalla.creacion .glass-card:hover .content__clase h1, #contenedor #pantalla.guardados .glass-card:hover .content__clase h1 {
  color: #d4d4d4;
  -webkit-transition-delay: 350ms;
          transition-delay: 350ms;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza img, #contenedor #pantalla.guardados .glass-card.seleccion--raza img {
  position: absolute;
  width: 130%;
  bottom: 0;
  left: -35px;
  opacity: 1;
  z-index: 10;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza, #contenedor #pantalla.guardados .glass-card.seleccion--raza .content__raza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza h2, #contenedor #pantalla.guardados .glass-card.seleccion--raza .content__raza h2 {
  position: relative;
  margin-bottom: 10px;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza h2::after, #contenedor #pantalla.guardados .glass-card.seleccion--raza .content__raza h2::after {
  content: '';
  width: calc( 100% + 20px);
  height: 3px;
  position: absolute;
  bottom: 0;
  left: -10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in 250ms;
  transition: -webkit-transform 250ms ease-in 250ms;
  transition: transform 250ms ease-in 250ms;
  transition: transform 250ms ease-in 250ms, -webkit-transform 250ms ease-in 250ms;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza.guerrero--after h2::after, #contenedor #pantalla.guardados .glass-card.seleccion--raza .content__raza.guerrero--after h2::after {
  background: #9e1414;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza.arquero--after h2::after, #contenedor #pantalla.guardados .glass-card.seleccion--raza .content__raza.arquero--after h2::after {
  background: #1b860d;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza.mago--after h2::after, #contenedor #pantalla.guardados .glass-card.seleccion--raza .content__raza.mago--after h2::after {
  background: #14679e;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza:hover img, #contenedor #pantalla.guardados .glass-card.seleccion--raza:hover img {
  opacity: 0;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza:hover .content__raza, #contenedor #pantalla.guardados .glass-card.seleccion--raza:hover .content__raza {
  opacity: 1;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza:hover .content__raza h2::after, #contenedor #pantalla.guardados .glass-card.seleccion--raza:hover .content__raza h2::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#contenedor #pantalla.creacion .fuego .content, #contenedor #pantalla.guardados .fuego .content {
  background: rgba(255, 145, 0, 0.7);
  border-left: 2px solid rgba(165, 80, 0, 0.8);
}

#contenedor #pantalla.creacion .fuego::after, #contenedor #pantalla.guardados .fuego::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../media/elementos/fuego.png);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

#contenedor #pantalla.creacion .agua .content, #contenedor #pantalla.guardados .agua .content {
  background: rgba(0, 225, 255, 0.7);
  border-left: 2px solid rgba(0, 118, 165, 0.8);
}

#contenedor #pantalla.creacion .agua::after, #contenedor #pantalla.guardados .agua::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../media/elementos/agua.png);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

#contenedor #pantalla.creacion .aire .content, #contenedor #pantalla.guardados .aire .content {
  background: rgba(216, 216, 216, 0.7);
  border-left: 2px solid rgba(177, 177, 177, 0.8);
}

#contenedor #pantalla.creacion .aire::after, #contenedor #pantalla.guardados .aire::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../media/elementos/aire.png);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

#contenedor #pantalla.creacion .tierra .content, #contenedor #pantalla.guardados .tierra .content {
  background: rgba(146, 110, 84, 0.7);
  border-left: 2px solid rgba(51, 26, 7, 0.7);
}

#contenedor #pantalla.creacion .tierra::after, #contenedor #pantalla.guardados .tierra::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../media/elementos/tierra.png);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

#contenedor #pantalla.creacion .guardado, #contenedor #pantalla.guardados .guardado {
  width: 400px;
  height: 220px;
  border-radius: 0;
  margin: 50px;
}

#contenedor #pantalla.creacion .guardado i, #contenedor #pantalla.guardados .guardado i {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 20px;
  z-index: 20;
  cursor: pointer;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

#contenedor #pantalla.creacion .guardado i:hover, #contenedor #pantalla.guardados .guardado i:hover {
  color: #af0606;
}

#contenedor #pantalla.creacion .guardado img, #contenedor #pantalla.guardados .guardado img {
  pointer-events: none;
  position: absolute;
  width: 70%;
  z-index: 10;
  -webkit-transition: width 250ms ease-in, -webkit-transform 250ms ease-in;
  transition: width 250ms ease-in, -webkit-transform 250ms ease-in;
  transition: width 250ms ease-in, transform 250ms ease-in;
  transition: width 250ms ease-in, transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

#contenedor #pantalla.creacion .guardado .nombre--personaje, #contenedor #pantalla.guardados .guardado .nombre--personaje {
  pointer-events: none;
  position: absolute;
  z-index: 12;
  font-size: 50px;
  margin-top: 10px;
  padding: 0 10px;
  border-radius: 20px;
  bottom: 0;
  color: #d8d8d8;
  text-shadow: 0 0 10px black;
  -webkit-transition: font-size 350ms ease-in 250ms, -webkit-transform 550ms ease-in 100ms;
  transition: font-size 350ms ease-in 250ms, -webkit-transform 550ms ease-in 100ms;
  transition: transform 550ms ease-in 100ms, font-size 350ms ease-in 250ms;
  transition: transform 550ms ease-in 100ms, font-size 350ms ease-in 250ms, -webkit-transform 550ms ease-in 100ms;
}

#contenedor #pantalla.creacion .guardado .content, #contenedor #pantalla.guardados .guardado .content {
  position: absolute;
  width: 50%;
  height: 80%;
  right: -220px;
  bottom: 0;
  padding-top: 50px;
  z-index: 8;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: right 1000ms ease;
  transition: right 1000ms ease;
}

#contenedor #pantalla.creacion .guardado .content h4, #contenedor #pantalla.guardados .guardado .content h4 {
  font-style: italic;
}

#contenedor #pantalla.creacion .guardado:hover img, #contenedor #pantalla.guardados .guardado:hover img {
  width: 60%;
  -webkit-transform: translateX(-94px);
          transform: translateX(-94px);
}

#contenedor #pantalla.creacion .guardado:hover .content, #contenedor #pantalla.guardados .guardado:hover .content {
  right: -1px;
}

#contenedor #pantalla.creacion .guardado:hover::after, #contenedor #pantalla.guardados .guardado:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contenedor #pantalla.creacion .guardado:hover .nombre--personaje, #contenedor #pantalla.guardados .guardado:hover .nombre--personaje {
  font-size: 25px;
  -webkit-transform: translate(100px, -170px);
          transform: translate(100px, -170px);
}

#contenedor #pantalla.creacion .eliminar--cartel, #contenedor #pantalla.guardados .eliminar--cartel {
  background-color: rgba(17, 17, 17, 0.26);
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

#contenedor #pantalla.creacion .eliminar--cartel .eliminar--content, #contenedor #pantalla.guardados .eliminar--cartel .eliminar--content {
  background-color: rgba(255, 255, 255, 0.363);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 800px;
  height: 150px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
  position: relative;
}

#contenedor #pantalla.creacion .eliminar--cartel .eliminar--content h1, #contenedor #pantalla.guardados .eliminar--cartel .eliminar--content h1 {
  position: absolute;
  top: 20px;
  right: 60px;
}

#contenedor #pantalla.creacion .eliminar--cartel .eliminar--content .cancelar, #contenedor #pantalla.guardados .eliminar--cartel .eliminar--content .cancelar {
  position: absolute;
  bottom: 25px;
  left: 200px;
}

#contenedor #pantalla.creacion .eliminar--cartel .eliminar--content .eliminar, #contenedor #pantalla.guardados .eliminar--cartel .eliminar--content .eliminar {
  position: absolute;
  bottom: 25px;
  right: 200px;
}

#contenedor #pantalla.creacion .eliminar--cartel .eliminar--content .eliminar--botones, #contenedor #pantalla.guardados .eliminar--cartel .eliminar--content .eliminar--botones {
  padding: 5px 10px;
}

#contenedor #pantalla.creacion .intro, #contenedor #pantalla.guardados .intro {
  width: 650px;
  height: 200px;
  text-align: center;
}

#contenedor #pantalla.creacion .intro button, #contenedor #pantalla.guardados .intro button {
  position: absolute;
  right: 50px;
  bottom: 25px;
}

#contenedor #pantalla.creacion .intro.nickname, #contenedor #pantalla.guardados .intro.nickname {
  height: 250px;
}

#contenedor #pantalla.creacion .intro.nickname h2, #contenedor #pantalla.guardados .intro.nickname h2 {
  position: absolute;
  top: 30px;
}

#contenedor #pantalla.creacion .intro.nickname .input-label, #contenedor #pantalla.guardados .intro.nickname .input-label {
  position: absolute;
  bottom: 65px;
  left: 75px;
  pointer-events: none;
  width: 200px;
  height: 50px;
  font-size: 24px;
  -webkit-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
  -webkit-transition: font-size 0.4s ease-in;
  transition: font-size 0.4s ease-in;
}

#contenedor #pantalla.creacion .intro.nickname #input-border, #contenedor #pantalla.guardados .intro.nickname #input-border {
  background-color: purple;
  width: 0px;
  height: 5px;
  position: absolute;
  left: 123px;
  bottom: 77px;
  border-radius: 50px;
}

#contenedor #pantalla.creacion .intro.nickname #input, #contenedor #pantalla.guardados .intro.nickname #input {
  position: relative;
  margin: 50px;
  width: 400px;
  height: 50px;
  border: none;
  bottom: -20px;
  border-bottom: 2px solid black;
  background-color: transparent;
  font-size: 36px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}

#contenedor #pantalla.creacion .elemento, #contenedor #pantalla.guardados .elemento {
  width: 400px;
  height: 220px;
  z-index: 1;
}

#contenedor #pantalla.creacion .elemento img, #contenedor #pantalla.guardados .elemento img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  left: -20px;
  -webkit-transition: width 350ms ease-in;
  transition: width 350ms ease-in;
}

#contenedor #pantalla.creacion .elemento h1, #contenedor #pantalla.guardados .elemento h1 {
  pointer-events: none;
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  z-index: 10;
  top: 20px;
  right: 0;
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
}

#contenedor #pantalla.creacion .elemento .content, #contenedor #pantalla.guardados .elemento .content {
  width: 100%;
  height: 100%;
}

#contenedor #pantalla.creacion .elemento .content::after, #contenedor #pantalla.guardados .elemento .content::after {
  position: absolute;
  content: '';
  width: 400px;
  height: 220px;
  z-index: -1;
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
}

#contenedor #pantalla.creacion .elemento .content.fuego, #contenedor #pantalla.guardados .elemento .content.fuego {
  color: #751b1b;
}

#contenedor #pantalla.creacion .elemento .content.fuego::after, #contenedor #pantalla.guardados .elemento .content.fuego::after {
  background-image: url(../media/elementos/fuego.png);
}

#contenedor #pantalla.creacion .elemento .content.agua, #contenedor #pantalla.guardados .elemento .content.agua {
  color: #1b5c75;
}

#contenedor #pantalla.creacion .elemento .content.agua::after, #contenedor #pantalla.guardados .elemento .content.agua::after {
  background-image: url(../media/elementos/agua.png);
}

#contenedor #pantalla.creacion .elemento .content.aire, #contenedor #pantalla.guardados .elemento .content.aire {
  color: #858a8b;
}

#contenedor #pantalla.creacion .elemento .content.aire::after, #contenedor #pantalla.guardados .elemento .content.aire::after {
  background-image: url(../media/elementos/aire.png);
}

#contenedor #pantalla.creacion .elemento .content.tierra, #contenedor #pantalla.guardados .elemento .content.tierra {
  color: #75471b;
}

#contenedor #pantalla.creacion .elemento .content.tierra::after, #contenedor #pantalla.guardados .elemento .content.tierra::after {
  background-image: url(../media/elementos/tierra.png);
}

#contenedor #pantalla.creacion .elemento:hover img, #contenedor #pantalla.guardados .elemento:hover img {
  width: 110%;
}

#contenedor #pantalla.creacion .elemento:hover .content h1, #contenedor #pantalla.guardados .elemento:hover .content h1 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contenedor #pantalla.creacion .elemento:hover .content::after, #contenedor #pantalla.guardados .elemento:hover .content::after {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

#contenedor #pantalla.creacion #guerrero, #contenedor #pantalla.guardados #guerrero {
  background-image: url(../media/guerrero/espada.png);
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: 120%;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

#contenedor #pantalla.creacion #guerrero:hover, #contenedor #pantalla.guardados #guerrero:hover {
  background-position: 50% 0%;
}

#contenedor #pantalla.creacion #guerrero .content__clase::after, #contenedor #pantalla.guardados #guerrero .content__clase::after {
  background: #9e1414;
}

#contenedor #pantalla.creacion #arquero, #contenedor #pantalla.guardados #arquero {
  background-image: url(../media/arquero/arco.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

#contenedor #pantalla.creacion #arquero:hover, #contenedor #pantalla.guardados #arquero:hover {
  background-position: 50% 10%;
}

#contenedor #pantalla.creacion #arquero .content__clase::after, #contenedor #pantalla.guardados #arquero .content__clase::after {
  background: #1b860d;
}

#contenedor #pantalla.creacion #mago, #contenedor #pantalla.guardados #mago {
  background-image: url(../media/mago/baculo.png);
  background-position: 50% -70%;
  background-repeat: no-repeat;
  background-size: 130%;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

#contenedor #pantalla.creacion #mago:hover, #contenedor #pantalla.guardados #mago:hover {
  background-position: 50% -100%;
}

#contenedor #pantalla.creacion #mago .content__clase::after, #contenedor #pantalla.guardados #mago .content__clase::after {
  background: #14679e;
}
/*# sourceMappingURL=estilos.css.map */