@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

#contenedor {
  background-image: url(../media/fondo.jpg);
  background-position: center;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1021px auto;
      grid-template-columns: auto 1021px auto;
  -ms-grid-rows: auto 699px auto;
      grid-template-rows: auto 699px auto;
      grid-template-areas: ". . ." ". pantalla ." ". . .";
}

#contenedor #pantalla {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pantalla;
  width: 1026px;
  height: 599px;
  -webkit-box-shadow: 0 0 10px 7px black;
          box-shadow: 0 0 10px 7px black;
}

#contenedor #pantalla.principal {
  background-color: #cacaca;
}

#contenedor #pantalla.principal #botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 250px;
  position: absolute;
  top: 300px;
  left: 150px;
}

#contenedor #pantalla.creacion {
  background-color: #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contenedor #pantalla.creacion a {
  position: absolute;
  left: 50px;
  bottom: 25px;
}

#contenedor #pantalla.creacion .glass-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 280px;
  height: 400px;
  margin: 30px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#contenedor #pantalla.creacion .glass-card .content__clase {
  position: relative;
  -webkit-transform: translateY(165px);
          transform: translateY(165px);
  z-index: 1;
  padding: 20px;
  text-align: center;
}

#contenedor #pantalla.creacion .glass-card .content__clase h1 {
  font-weight: 300;
  color: transparent;
  -webkit-transition: 150ms color ease-out;
  transition: 150ms color ease-out;
}

#contenedor #pantalla.creacion .glass-card .content__clase::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 40px;
  bottom: 23px;
  right: 0;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 350ms -webkit-transform ease-in-out;
  transition: 350ms -webkit-transform ease-in-out;
  transition: 350ms transform ease-in-out;
  transition: 350ms transform ease-in-out, 350ms -webkit-transform ease-in-out;
}

#contenedor #pantalla.creacion .glass-card:hover .content__clase::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#contenedor #pantalla.creacion .glass-card:hover .content__clase h1 {
  color: #d4d4d4;
  -webkit-transition-delay: 350ms;
          transition-delay: 350ms;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza img {
  position: absolute;
  width: 130%;
  bottom: 0;
  left: -35px;
  opacity: 1;
  z-index: 10;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza h2 {
  position: relative;
  margin-bottom: 10px;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza h2::after {
  content: '';
  width: calc( 100% + 20px);
  height: 3px;
  position: absolute;
  bottom: 0;
  left: -10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in 250ms;
  transition: -webkit-transform 250ms ease-in 250ms;
  transition: transform 250ms ease-in 250ms;
  transition: transform 250ms ease-in 250ms, -webkit-transform 250ms ease-in 250ms;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza.guerrero--after h2::after {
  background: #9e1414;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza.arquero--after h2::after {
  background: #1b860d;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza .content__raza.mago--after h2::after {
  background: #14679e;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza:hover img {
  opacity: 0;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza:hover .content__raza {
  opacity: 1;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

#contenedor #pantalla.creacion .glass-card.seleccion--raza:hover .content__raza h2::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#contenedor #pantalla.creacion .intro {
  width: 650px;
  height: 200px;
  text-align: center;
}

#contenedor #pantalla.creacion .intro button {
  position: absolute;
  right: 50px;
  bottom: 25px;
}

#contenedor #pantalla.creacion .intro.nickname {
  height: 250px;
}

#contenedor #pantalla.creacion .intro.nickname h2 {
  position: absolute;
  top: 30px;
}

#contenedor #pantalla.creacion .intro.nickname .input-label {
  position: absolute;
  bottom: 65px;
  left: 75px;
  pointer-events: none;
  width: 200px;
  height: 50px;
  font-size: 24px;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

#contenedor #pantalla.creacion .intro.nickname #input-border {
  background-color: red;
  width: 0px;
  height: 5px;
  position: absolute;
  left: 123px;
  bottom: 77px;
  border-radius: 50px;
}

#contenedor #pantalla.creacion .intro.nickname #input {
  position: relative;
  margin: 50px;
  width: 400px;
  height: 50px;
  border: none;
  bottom: -20px;
  border-bottom: 2px solid black;
  background-color: transparent;
  font-size: 36px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}

#contenedor #pantalla.creacion .elemento {
  width: 400px;
  height: 220px;
  z-index: 1;
}

#contenedor #pantalla.creacion .elemento img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  left: -20px;
  -webkit-transition: width 350ms ease-in;
  transition: width 350ms ease-in;
}

#contenedor #pantalla.creacion .elemento h1 {
  pointer-events: none;
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  z-index: 10;
  top: 20px;
  right: 0;
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
}

#contenedor #pantalla.creacion .elemento .content {
  width: 100%;
  height: 100%;
}

#contenedor #pantalla.creacion .elemento .content::after {
  position: absolute;
  content: '';
  width: 400px;
  height: 220px;
  z-index: -1;
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
}

#contenedor #pantalla.creacion .elemento .content.fuego {
  color: #751b1b;
}

#contenedor #pantalla.creacion .elemento .content.fuego::after {
  background-image: url(../media/elementos/fuego.png);
}

#contenedor #pantalla.creacion .elemento .content.agua {
  color: #1b5c75;
}

#contenedor #pantalla.creacion .elemento .content.agua::after {
  background-image: url(../media/elementos/agua.png);
}

#contenedor #pantalla.creacion .elemento .content.aire {
  color: #858a8b;
}

#contenedor #pantalla.creacion .elemento .content.aire::after {
  background-image: url(../media/elementos/aire.png);
}

#contenedor #pantalla.creacion .elemento .content.tierra {
  color: #75471b;
}

#contenedor #pantalla.creacion .elemento .content.tierra::after {
  background-image: url(../media/elementos/tierra.png);
}

#contenedor #pantalla.creacion .elemento:hover img {
  width: 110%;
}

#contenedor #pantalla.creacion .elemento:hover .content h1 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contenedor #pantalla.creacion .elemento:hover .content::after {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

#contenedor #pantalla.creacion #guerrero {
  background-image: url(../media/guerrero/espada.png);
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: 120%;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

#contenedor #pantalla.creacion #guerrero:hover {
  background-position: 50% 0%;
}

#contenedor #pantalla.creacion #guerrero .content__clase::after {
  background: #9e1414;
}

#contenedor #pantalla.creacion #arquero {
  background-image: url(../media/arquero/arco.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

#contenedor #pantalla.creacion #arquero:hover {
  background-position: 50% 10%;
}

#contenedor #pantalla.creacion #arquero .content__clase::after {
  background: #1b860d;
}

#contenedor #pantalla.creacion #mago {
  background-image: url(../media/mago/baculo.png);
  background-position: 50% -70%;
  background-repeat: no-repeat;
  background-size: 130%;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

#contenedor #pantalla.creacion #mago:hover {
  background-position: 50% -100%;
}

#contenedor #pantalla.creacion #mago .content__clase::after {
  background: #14679e;
}
/*# sourceMappingURL=estilos.css.map */