@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

a{
    text-decoration: none;
}
input{
    &:focus{
        outline: none;
    }
}

@keyframes impacto {
    0%{
        transform: translateX(-10px);
        opacity: .2;
        filter: grayscale(1);
    }
    25%{
        transform: translateX(10px);
        opacity: .3;
    }
    50%{
        transform: translateX(-10px);
    }
    75%{
        transform: translateX(10px);
        filter: grayscale(1);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes barraV {
    0%{
        background-color: green;
    }
    25%{
        background-color: grey;
    }
    50%{
        background-color: green;
    }
    75%{
        background-color: grey;
    }
    100%{
        background-color: green;
    }
}

@keyframes barraR {
    0%{
        background-color: red;
    }
    25%{
        background-color: grey;
    }
    50%{
        background-color: red;
    }
    75%{
        background-color: grey;
    }
    100%{
        background-color: red;
    }
}

@keyframes coma {
    0%{
        background-color: transparent;
    }
    75%{
        background-color: #c11111;
    }
    100%{
        background-color: #c11111;
    }
}

.impacto{
    animation-name: impacto;
    animation-timing-function: ease;
    animation-duration: 350ms;
    animation-iteration-count: 1;
}

.barraV{
    animation-name: barraV;
    animation-timing-function: ease;
    animation-duration: 350ms;
    animation-iteration-count: 1;
}

.barraR{
    animation-name: barraR;
    animation-timing-function: ease;
    animation-duration: 350ms;
    animation-iteration-count: 1;
}

.coma{
    animation-name: coma;
    animation-timing-function: ease-out;
    animation-duration: 1300ms;
    animation-iteration-count: infinite;
}

#contenedor{
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: auto 1021px auto;
    grid-template-rows: auto 699px auto;
    grid-template-areas:
    ". . ."
    ". pantalla ."
    ". . .";

    #pantalla{
        position: relative;
        grid-area: pantalla;
        overflow-x: hidden;

        width: 1026px;
        height: 599px;
        box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.438), inset 0 0 10px 10px rgba(0, 0, 0, 0.671);
        border-radius: 6px;

        .volver{
            position: absolute;
            left: 10px;
            bottom: 10px;
            z-index: 20;
            color: rgb(211, 211, 211);
            font-size: 24px;

            transition: color 250ms ease;

            &:hover{
                color: rgb(194, 0, 0);
            }
        }

        // PANTALLA PRINCIPAL *****************************************************************

        &.principal{
            background-image: url(../media/inicio.jpg);
            background-size: cover;
            background-repeat: no-repeat;

            #botones{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 300px;
                height: 250px;

                position: absolute;
                top: 300px;
                left: 50px;

                a{
                    color: azure;
                    font-weight: 600;
                    font-size: 20px;
                }
            }

            .elegir-personaje_panel{
                width: 100%;
                height: 100%;
                display: grid;
                place-content: center;

                background-color: rgba(0, 0, 0, 0.404);

                h2{
                    position: absolute;
                    z-index: 1000;
                    top: 35px;
                    left: 50px;

                    color: rgb(240, 240, 240);
                }

                button{
                    position: absolute;
                    bottom: 40px;
                    left: 50px;
                    z-index: 100;

                    width: 50px;
                }

                .elegir-personaje{
                    width: 950px;
                    height: 550px;
                    z-index: 100;

                    background-color: rgb(15, 15, 15);


                    .elegir-personaje_botones{
                        position: absolute;
                        width: 850px;
                        height: 450px;
                        top: 70px;
                        left: 90px;

                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        align-items: center;
                        overflow-x: hidden;

                        box-shadow: inset 0 0 10px black;
                        border-radius: 5px;
                        background-color: rgb(22, 22, 22);

                        .personaje{
                            width: 350px;
                            height: 200px;
                            margin: 20px;

                            position: relative;
                            text-align: center;

                            box-shadow: 0 0 15px black;
                            overflow: hidden;

                            background-color: rgb(58, 58, 58);
                            
                            img{
                                position: absolute;
                                bottom: 0;
                                left: 20%;
                                width: 60%;
                                pointer-events: none;

                                transition: transform 250ms ease;
                            }
                            
                            h1{
                                display: inline-block;
                                position: absolute;
                                bottom: 0;
                                left: 10px;
                                pointer-events: none;

                                color: rgb(226, 226, 226);
                                text-shadow: 0 0 10px black;

                                transition: text-shadow 250ms ease, transform 250ms ease;
                            }

                            &:hover{
                                h1{
                                    text-shadow: 0 0 5px black;
                                    transform: scale(1.1);
                                }
                                img{
                                    transform: scale(1.2);
                                }
                            }

                            &.fuego{
                                background-image: url(../media/elementos/fuego.png);
                            }
                            &.agua{
                                background-image: url(../media/elementos/agua.png);
                            }
                            &.aire{
                                background-image: url(../media/elementos/aire.png);
                            }
                            &.tierra{
                                background-image: url(../media/elementos/tierra.png);
                            }
                        }
                    }
                }
            }
        }

        // PANTALLA CREACION *****************************************************************

        &.creacion, &.guardados{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;

            background: radial-gradient(white, grey);

            .glass-card{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                width: 280px;
                height: 400px;
                margin: 30px;
                box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
                border-radius: 15px;
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(10px);



                // CONTENIDO DE LA PRIMER SELECCION ***************************
                .content__clase{
                    position: relative;
                    transform: translateY(165px);
                    z-index: 1;

                    padding: 20px;
                    text-align: center;
                    h1{
                        font-weight: 300;
                        color: transparent;
                        transition: 150ms color ease-out;
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 40px;
                        bottom: 23px;
                        right: 0;
                        z-index: -1;

                        transform: scaleX(0);
                        transition: 350ms transform ease-in-out;
                    }
                }

                &:hover{
                    .content__clase::after{
                        transform: scaleX(1);
                    }
                    .content__clase h1{
                        color: rgb(212, 212, 212);
                        transition-delay: 350ms;
                    }
                }
                // ***************************************************************

                // CONTENIDO DE LA SEGUNDA SELECCION *****************************

                &.seleccion--raza{
                    img{
                        position: absolute;
                        width: 130%;
                        bottom: 0;
                        left: -35px;
                        opacity: 1;
                        z-index: 10;

                        transition: opacity 250ms ease-in;
                    }
                    
                    .content__raza{
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: center;

                        height: 100%;
                        text-align: center;
                        padding: 20px;
                        margin-top: auto;

                        opacity: 0;

                        transition: opacity 250ms ease-in;

                        h2{
                            position: relative;
                            margin-bottom: 10px;

                            &::after{
                                content: '';
                                width: calc( 100% + 20px );
                                height: 3px;
                                position: absolute;
                                bottom: 0;
                                left: -10px;

                                transform: scaleX(0);

                                transition: transform 250ms ease-in 250ms;

                            }
                        }
                        &.guerrero--after{
                            h2::after{
                                background: rgb(158, 20, 20);
                            }
                        }

                        &.arquero--after{
                            h2::after{
                                background: rgb(27, 134, 13);
                            }
                        }

                        &.mago--after{
                            h2::after{
                                background: rgb(20, 103, 158)
                            }
                        }
                    }

                    &:hover{
                        img{
                            opacity: 0;
                        }

                        .content__raza{
                            opacity: 1;
                            transition-delay: 250ms;
                        }

                        .content__raza h2::after{
                            transform: scaleX(1);
                        }
                    }
                }
                // ***************************************************************
            }

            .fuego{
                .content{
                    background: rgba(255, 145, 0, 0.7);
                    border-left: 2px solid rgba(165, 80, 0, 0.8);
                }
                &::after{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    
                    background-image: url(../media/elementos/fuego.png);
                    transition: transform 250ms ease-in;
                }
            }
            .agua{
                .content{
                    background: rgba(0, 225, 255, 0.7);
                    border-left: 2px solid rgba(0, 118, 165, 0.8);
                }
                &::after{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    
                    background-image: url(../media/elementos/agua.png);
                    transition: transform 250ms ease-in;
                }
            }
            .aire{
                .content{
                    background: rgba(216, 216, 216, 0.7);
                    border-left: 2px solid rgba(177, 177, 177, 0.8);
                }
                &::after{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    
                    background-image: url(../media/elementos/aire.png);
                    transition: transform 250ms ease-in;
                }
            }
            .tierra{
                .content{
                    background: rgba(146, 110, 84, 0.7);
                    border-left: 2px solid rgba(51, 26, 7, 0.7);
                }
                &::after{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    
                    background-image: url(../media/elementos/tierra.png);
                    transition: transform 250ms ease-in;
                }
            }
            .guardado{
                width: 400px;
                height: 220px;
                border-radius: 0;
                margin: 50px;
                i{
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 10px;
                    font-size: 20px;
                    z-index: 20;
                    cursor: pointer;

                    transition: color 250ms ease;

                    &:hover{
                        color: rgb(175, 6, 6);
                    }
                }

                img{
                    pointer-events: none;
                    position: absolute;
                    width: 70%;
                    z-index: 10;

                    transition: width 250ms ease-in,
                                transform 250ms ease-in;

                            }
                .nombre--personaje{
                    pointer-events: none;
                    position: absolute;
                    z-index: 12;
                    font-size: 50px;
                    margin-top: 10px;
                    padding: 0 10px;
                    border-radius: 20px;

                    bottom: 0;
                    color: rgb(216, 216, 216);
                    text-shadow: 0 0 10px black;

                    transition: transform 550ms ease-in 100ms, font-size 350ms ease-in 250ms;
                }

                .content{
                    position: absolute;
                    width: 50%;
                    height: 80%;
                    right: -220px;
                    bottom: 0;
                    padding-top: 50px;
                    z-index: 8;
                    
                    text-align: center;
                    
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: space-around;
                    
                    backdrop-filter: blur(5px);

                    transition: right 1000ms ease;

                    h4{
                        font-style: italic;
                    }
                }

                &:hover{
                    img{
                        width: 60%;
                        transform: translateX(-94px);
                    }
                    .content{
                        right: -1px;
                    }
                    &::after{
                        transform: scale(1.1);
                    }
                    .nombre--personaje{
                        font-size: 25px;
                        transform: translate(100px, -170px);
                    }
                }
            }
            .intro{
                width: 650px;
                height: 200px;
                text-align: center;

                button{
                    position: absolute;
                    right: 50px;
                    bottom: 25px;
                }

                &.nickname{
                    height: 250px;

                    h2{
                        position: absolute;
                        top: 30px;
                    }

                    .input-label{
                        position: absolute;
                        bottom: 65px;
                        left: 75px;
                        pointer-events: none;
                        width: 200px;
                        height: 50px;
                        font-size: 24px;

                        transition: color 0.4s ease-in;
                        transition: font-size 0.4s ease-in;
                    }

                    #input-border{
                        width: 0px;
                        height: 5px;
                        position: absolute;

                        left: 123px;
                        bottom: 77px;
                        border-radius: 50px;
                    }

                    #input{
                        position: relative;
                        margin: 50px;
                        width: 400px;
                        height: 50px;
                        border: none;
                        bottom: -20px;
                        border-bottom: 2px solid black;
                        background-color: transparent;
                        font-size: 36px;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-style: italic;
                    }
                    .input-contador{
                        position: absolute;
                        bottom: 50px;
                        left: 125px;
                    }
                }

            }
            
            .elemento{
                width: 400px;
                height: 220px;
                z-index: 1;

                img{
                    pointer-events: none;
                    position: absolute;
                    width: 100%;
                    left: -20px;

                    transition: width 350ms ease-in;
                }

                h1{
                    pointer-events: none;
                    position: absolute;
                    writing-mode: vertical-lr;
                    z-index: 10;

                    top: 20px;
                    right: 0;

                    transition: transform 350ms ease-in;
                }

                .content{
                    width: 100%;
                    height: 100%;

                    &::after{
                        position: absolute;
                        content: '';
                        width: 400px;
                        height: 220px;
                        z-index: -1;

                        transition: transform 350ms ease-in;
                    }

                    &.fuego{
                        color: rgb(117, 27, 27);

                        &::after{

                            background-image: url(../media/elementos/fuego.png);
                            
                        }
                    }
                    &.agua{
                        color: rgb(27, 92, 117);

                        &::after{

                            background-image: url(../media/elementos/agua.png);
                        }
                    }
                    &.aire{
                        color: rgb(133, 138, 139);

                        &::after{

                            background-image: url(../media/elementos/aire.png);
                        }
                    }
                    &.tierra{
                        color: rgb(117, 71, 27);

                        &::after{

                            background-image: url(../media/elementos/tierra.png);
                        }
                    }


                }
                &:hover{
                    img{
                        width: 110%;
                    }
                    .content h1{
                        transform: scale(1.1);
                    }
                    .content::after{
                        transform: translateY(20px);
                    }
                }
            }




            // CARTELES DE CREACION ***********************************************************

            #guerrero{
                background-image: url(../media/guerrero/espada.png);
                background-position: 50% 20%;
                background-repeat: no-repeat;
                background-size: 120%;

                transition: 250ms ease-in;

                &:hover{
                    background-position: 50% 0%;
                }

                .content__clase::after{
                    background: rgb(158, 20, 20);
                }
            }

            #arquero{
                background-image: url(../media/arquero/arco.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 130%;

                transition: 250ms ease-in;

                &:hover{
                    background-position: 50% 10%;
                }

                .content__clase::after{
                    background: rgb(27, 134, 13);
                }
            }

            #mago{
                background-image: url(../media/mago/baculo.png);
                background-position: 50% -70%;
                background-repeat: no-repeat;
                background-size: 130%;

                transition: 250ms ease-in;

                &:hover{
                    background-position: 50% -100%;
                }

                .content__clase::after{
                    background: rgb(20, 103, 158);
                }
            }
        }

        // SECTOR DE JUEGO -------------------------------------------------------------------------------

        &.jugar{
            position: relative;

            #interfaz{
                position: absolute;
                width: 100%;
                height: 250px;
                bottom: 0;
                z-index: 10;

                border-top: 4px solid rgb(0, 0, 0);
                background: linear-gradient(to top, #c5c5c5, #e2e2e2);

                .texto{
                    position: absolute;
                    width: 46%;
                    height: 180px;
                    bottom: 20px;
                    left: 20px;
                    padding: 10px;
                    z-index: 2;

                    border: 4px solid rgba(0, 0, 0, 0.63);
                    box-shadow: inset 0 0 20px 15px rgba(48, 48, 48, 0.151), 0 0 15px 10px rgba(66, 66, 66, 0.253);
                    background: radial-gradient(rgb(34, 34, 34), #181818);

                    display: grid;
                    place-content: center;
                    font-size: 24px;
                    color: rgb(211, 211, 211);
                    text-align: center;

                    .btn-textoUno, .btn-textoDos, .btn-textoInicio, .btn-textoInicioDos, .btn-textoFinal, .btn-textoTres, .btn-textoCuatro{
                        position: absolute;
                        bottom: 15px;
                        right: 15px;

                        display: none;
                    }
                }

                .acciones{
                    position: absolute;
                    width: 43%;
                    height: 180px;
                    bottom: 20px;
                    right: 20px;

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas:
                    "atacar especial"
                    "objetos abandonar";
                    column-gap: 10px;
                    row-gap: 10px;
                    padding: 10px;

                    border: 4px solid rgb(0, 0, 0);
                    box-shadow: inset 0 0 20px 15px rgba(48, 48, 48, 0.151), 0 0 15px 10px rgba(66, 66, 66, 0.253);
                    background: radial-gradient(white, #c7c7c7);

                    .atacar{
                        grid-area: atacar;
                    }
                    .especial{
                        grid-area: especial;
                    }
                    .objetos{
                        grid-area: objetos;
                    }
                    .abandonar{
                        grid-area: abandonar;
                    }

                    .btn-accion{
                        font-size: 20px;
                        width: 200px;
                        height: 70px;
                        display: grid;
                        place-content: center;
                        margin: auto;
                        color: rgb(22, 22, 22);
                        border: 3px solid rgb(0, 0, 0);
                        background: none;

                        transition: transform 250ms ease, box-shadow 250ms ease;

                        &:hover{
                            transform: scale(1.04);
                            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.219);
                        }
                    }
                }

                .sector-juego{
                    position: relative;
                    width: 100%;
                    height: 345px;
                    top: -349px;

                    background-image: url(../media/campo.png);
                    background-position: center;

                    .sector-personaje{
                        position: absolute;
                        width: 40%;
                        height: 345px;
                        left: 50px;
                        bottom: 0;

                        .personaje-cartel{
                            position: absolute;
                            width: 90%;
                            height: 100px;
                            left: 21px;
                            top: 10px;

                            border: 3px solid black;
                            background: linear-gradient(to top, #a8a8a8, #e2e2e2);
                            border-radius: 5px 25px 25px 5px;

                            h3{
                                position: absolute;
                                left: 20px;
                                top: 15px;
                            }

                            .personaje-vida{
                                display: grid;
                                place-content: center;

                                position: absolute;
                                width: 80%;
                                height: 30%;
                                top: 50px;
                                left: 35px;

                                border: 4px solid black;
                                background-color: grey;

                                h4{
                                    z-index: 2;
                                }
                                .personaje-vida__barra{
                                    position: absolute;
                                    width: 100.4%;
                                    height: 30px;

                                    background-color: #229722;
                                }
                            }
                        }

                        .personaje-juego{
                            img{
                                position: absolute;
                                width: 60%;
                                bottom: 0;
                                left: -300px;
                            }
                        }
                    }

                    .sector-enemigo{
                        position: absolute;
                        width: 40%;
                        height: 345px;
                        right: 50px;
                        bottom: 0;

                        .enemigo-cartel{
                            position: absolute;
                            width: 90%;
                            height: 100px;
                            left: 21px;
                            top: 10px;

                            border: 3px solid black;
                            background: linear-gradient(to top, #a8a8a8, #e2e2e2);
                            border-radius: 25px 5px 5px 25px;

                            h3{
                                position: absolute;
                                left: 20px;
                                top: 15px;
                            }

                            .enemigo-vida{
                                display: grid;
                                place-content: center;

                                position: absolute;
                                width: 80%;
                                height: 30%;
                                top: 50px;
                                left: 35px;

                                border: 4px solid black;
                                background-color: grey;

                                h4{
                                    z-index: 2;
                                }
                                .enemigo-vida__barra{
                                    position: absolute;
                                    width: 100.4%;
                                    height: 31px;
                                    top: -1px;

                                    background-color: rgb(145, 26, 26);
                                }
                            }
                        }

                        .enemigo-juego{
                            img{
                                position: absolute;
                                width: 60%;
                                bottom: 0;
                                right: -270px;
                            }
                        }
                    }
                }
            }
        }

    }

    .eliminar--cartel{
        background-color: rgba(17, 17, 17, 0.26);
        width: 100%;
        height: 100%;
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;

        display: grid;
        place-content: center;

        .eliminar--content{
            background-color: rgba(255, 255, 255, 0.363);
            backdrop-filter: blur(10px);
            width: 800px;
            height: 150px;
            border-radius: 10px;
            box-shadow: 0 0 10px;
            position: relative;

            &.salir--cartel{
                height: 300px;
            }

            h1{
                font-size: 28px;
                width: 100%;
                text-align: center;
                margin-top: 10px;
            }
            .cancelar{
                position: absolute;
                bottom: 25px;
                left: 200px;
            }
            .eliminar{
                position: absolute;
                bottom: 25px;
                right: 200px;
            }
            .entiendo{
                position: absolute;
                left: 230px;
                bottom: 30px;
            }
            .eliminar--botones{
                padding: 5px 10px;
            }
        }
    }
}