@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

a{
    text-decoration: none;
}

#contenedor{
    background-image: url(../media/fondo.jpg);
    background-position: center;
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: auto 1021px auto;
    grid-template-rows: auto 699px auto;
    grid-template-areas:
    ". . ."
    ". pantalla ."
    ". . .";

    #pantalla{
        position: relative;
        grid-area: pantalla;

        width: 1026px;
        height: 599px;
        box-shadow: 0 0 10px 7px black;

        // PANTALLA PRINCIPAL *****************************************************************

        &.principal{
            background-color: rgb(202, 202, 202);

            #botones{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 300px;
                height: 250px;

                position: absolute;
                top: 300px;
                left: 150px;
            }
        }

        // PANTALLA CREACION *****************************************************************

        &.creacion{
            background-color: rgb(202, 202, 202);

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            a{
                position: absolute;
                left: 50px;
                bottom: 25px;
            }

            .glass-card{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                width: 280px;
                height: 400px;
                margin: 30px;
                box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
                border-radius: 15px;
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);



                // CONTENIDO DE LA PRIMER SELECCION ***************************
                .content__clase{
                    position: relative;
                    transform: translateY(165px);
                    z-index: 1;

                    padding: 20px;
                    text-align: center;
                    h1{
                        font-weight: 300;
                        color: transparent;
                        transition: 150ms color ease-out;
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 40px;
                        bottom: 23px;
                        right: 0;
                        z-index: -1;

                        transform: scaleX(0);
                        transition: 350ms transform ease-in-out;
                    }
                }

                &:hover{
                    .content__clase::after{
                        transform: scaleX(1);
                    }
                    .content__clase h1{
                        color: rgb(212, 212, 212);
                        transition-delay: 350ms;
                    }
                }
                // ***************************************************************

                // CONTENIDO DE LA SEGUNDA SELECCION *****************************

                &.seleccion--raza{
                    img{
                        position: absolute;
                        width: 130%;
                        bottom: 0;
                        left: -35px;
                        opacity: 1;
                        z-index: 10;

                        transition: opacity 250ms ease-in;
                    }
                    
                    .content__raza{
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: center;

                        height: 100%;
                        text-align: center;
                        padding: 20px;
                        margin-top: auto;

                        opacity: 0;

                        transition: opacity 250ms ease-in;

                        h2{
                            position: relative;
                            margin-bottom: 10px;

                            &::after{
                                content: '';
                                width: calc( 100% + 20px );
                                height: 3px;
                                position: absolute;
                                bottom: 0;
                                left: -10px;

                                transform: scaleX(0);

                                transition: transform 250ms ease-in 250ms;

                            }
                        }
                        &.guerrero--after{
                            h2::after{
                                background: rgb(158, 20, 20);
                            }
                        }

                        &.arquero--after{
                            h2::after{
                                background: rgb(27, 134, 13);
                            }
                        }

                        &.mago--after{
                            h2::after{
                                background: rgb(20, 103, 158)
                            }
                        }
                    }

                    &:hover{
                        img{
                            opacity: 0;
                        }

                        .content__raza{
                            opacity: 1;
                            transition-delay: 250ms;
                        }

                        .content__raza h2::after{
                            transform: scaleX(1);
                        }
                    }
                }

            }

            .intro{
                width: 650px;
                height: 200px;
            }

            // CARTELES DE CREACION ***********************************************************

            #guerrero{
                background-image: url(../media/guerrero/espada.png);
                background-position: 50% 20%;
                background-repeat: no-repeat;
                background-size: 120%;

                transition: 250ms ease-in;

                &:hover{
                    background-position: 50% 0%;
                }

                .content__clase::after{
                    background: rgb(158, 20, 20);
                }
            }

            #arquero{
                background-image: url(../media/arquero/arco.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 130%;

                transition: 250ms ease-in;

                &:hover{
                    background-position: 50% 10%;
                }

                .content__clase::after{
                    background: rgb(27, 134, 13);
                }
            }

            #mago{
                background-image: url(../media/mago/baculo.png);
                background-position: 50% -70%;
                background-repeat: no-repeat;
                background-size: 130%;

                transition: 250ms ease-in;

                &:hover{
                    background-position: 50% -100%;
                }

                .content__clase::after{
                    background: rgb(20, 103, 158);
                }
            }
        }
    }
}